.board-list {
    padding: 0 40px 40px 40px;
    text-align: center;
    .card {
        height: 300px;
        cursor: pointer;
        border-radius: 3px;
        margin-bottom: 50px;
        filter: brightness(96%);
        position: relative;
        transition: all 0.3s;
        .close-card-btn {
            transition: all 0.3s;
            position: absolute;
            right: 0;
            padding: 5px;
            background: none;
            opacity: 0;
            font-size: 1rem;
            color: #4e4f52;
        }
    }
    .card:hover .close-card-btn {
        opacity: 1;
    }
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch-container p {
    margin: 0;
}

.el-switch__core {
    width: 50px;
}

.el-switch:hover {
    filter: saturate(97%);
}

.carousel-img {
    height: 80%;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid rgba(95, 95, 95, 0.24);
    filter: grayscale(100%);
    position: relative;
}

.image {
    width: 100%;
    height: 215px;
}

.card:hover,
.carousel-img:hover {
    transition: 1.2s;
    filter: saturate(200%) brightness(98%);
    box-shadow: 0 0 20px rgba(95, 95, 95, 0.1);
    transform: translateY(10px);
}

.el-row {
    margin-top: 20px;
}

.card:hover {
    transform: translateY(-15px);
    .close-card-btn.el-button--text {
        display: block;
    }
}

.carousel-item:hover>.close-card-btn.el-button--text {
    opacity: 1;
}

.close-card-btn.el-button--text {
    color: #4e4f52;
    position: absolute;
    opacity: 0;
}

.el-button.close-card-btn.el-button--text {
    color: #4e4f52;
    position: absolute;
    z-index: 9;
    opacity: 0;
    top: -5px;
}

.card-view-btn {
    margin-top: 0 !important;
}

.add-board {
    border: 1px solid rgba(95, 95, 95, 0.24);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-width: 390px;
    max-width: 400px;
    height: 80%;
    left: 17%;
    justify-content: center;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.527), #f1f1f1ad);
    background-size: 500% 100%;
    animation: gradient 10s linear infinite;
    animation-direction: alternate;
    filter: brightness(100%);
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.add-board-container {
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.board-select-title {
    margin-bottom: 15px;
}