.board-list {
    text-align: center;
    .card {
        min-height: 215px;
        cursor: pointer;
    }
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}