

.board {
    height: 100%;
    border-top-left-radius: 5px;
    background-color: #292f4c;

    .board-container {
        flex: 1;
        background-color: #ffffff;
        border-radius: 12px 0px 0px 0px;
        padding-inline-start: 20px;
    }

    .board-header {
        padding: 30px 30px 0px 30px;
    }

    .board-title {
        font-size: 28px;
    }

}


.board-content-wrapper {
    padding-bottom: 40px;
    padding-top: 18px;
    padding-left: 16px;
}


.header {
    height: 100%;
    width: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #292f4c;

    .header-icon {
        font-size: 20px;
        color: #ffffff;
    }
    .logo {
        width: 40px;
       
    }

    .top-navigation {
        flex: 1;
    }

    .btn-surface {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        background-color: #292f4c;
    }

    .btn-surface:hover {
        filter: brightness(150%);
    }
    .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        width: 44px;
        color: #ffffff;
        font-size: 20px;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        outline: none;
    }
    .logo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px 0px 14px;
    }
}