.board-surface {
    height: 100%;
    display: flex;
    background-color: #292f4c;
}

.drag-preview {
    position: absolute;
}

.board {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 12px 0px 0px 0px;
    overflow-y: auto;
    padding-inline-start: 30px;
    .board-container {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-left: 1px solid #e6e9ef;
        padding-inline-start: 20px;
    }
    .board-header {
        padding: 30px 50px 0px 30px;
    }
    .board-title {
        font-size: 28px;
        padding-inline-start: 20px;
        border: 1px dashed transparent;
        padding: 0;
        height: 50px;
    }
    input.board-title {
        outline: none;
        border: 1px dashed gray;
    }
    .board-title:hover{
        border: 1px dashed gray;
    }

    .header-view-bar{
        .main-table-wrapper{
            >*{
                width: 140px;
            }
        }
        .view-btn{
            .view-menu-btn{
                display: none;
            }
            .view-menu-btn:hover{
                background-color: white;
            }
        }
        .view-btn:hover .view-menu-btn{
            display: inline;
        }
    }
}

.board-content-wrapper {
    padding-bottom: 40px;
    padding-top: 18px;
    padding-left: 50px;
    padding-right: 50px;
    // overflow-x: auto;
}

.header {
    height: 100%;
    width: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #292f4c;
    .header-icon {
        font-size: 20px;
        color: #ffffff;
    }
    .logo {
        width: 40px;
    }
    .top-navigation {
        flex: 1;
    }
    .btn-surface {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        background-color: #292f4c;
    }
    .btn-surface:hover {
        filter: brightness(150%);
    }
    .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        width: 44px;
        color: #ffffff;
        font-size: 20px;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        outline: none;
    }
    .logo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px 0px 14px;
    }
}

// .el-drawer__container.el-drawer__open {
//     z-index: 1;
// }

// .el-drawer.rtl {
//     z-index: 1;
// }