.calendar {
    .vc-weeks {
        > * {
            // border: 1px solid lightgray;
        }
    }
    .vc-day {
        height: 100px;
        width: 130px;
        border: 1px solid lightgray;
        .day-wrapper {
            display: flex;
            flex-direction: column;
            text-align: center;
            .task {
                p {
                    border-radius: 5px;
                    margin-bottom: 2px;
                    height: 25px;
                    border-radius: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
    .groups {
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        bottom: 0;
        z-index: 1;
        width: 100%;
        background-color: white;
        display: flex;
        height: 50px;
        div{
            display: flex;
            margin: 5px;
            p {
                margin: 5px;
                padding: 5px;
            }
            .box {
                width: 15px;
                height: 15px;
                border-radius: 10px;
            }
        }
    }
}
