.calendar {
    .vc-weeks{
        >*{
            // border: 1px solid lightgray;
        }
    }
    .vc-day {
        height: 80px;
        .day-wrapper {
            display: flex;
            flex-direction: column;
            text-align: center;
            .task {
                p {
                    border-radius: 5px;
                    margin-bottom: 2px;
                }
            }
        }
    }
    .groups {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-25%);
        p {
            margin: 5px;
            padding: 5px;
            border-radius: 5px;
        }
    }
}
