.dashboard {
    display: flex;
    flex-direction: column;
    .charts {
        display: flex;
        text-align: center;
        justify-content: space-evenly;
    }
    canvas {
        width: 350px !important;
        height: 350px !important;
        margin: 10px auto;
        padding: 10px;
    }
    .stats {
        width: 200px;
        height: 80px;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        margin: 10px auto;
        border: 1px solid lightgray;
        h5 strong{
            text-decoration: underline;
        }
    }
}
