.group-container {
    .group-title-wrapper {
        width: 100%;
        display: flex;
    }

    label {
        width: 140px;
        text-align: center;
    }

    .group-title {
        flex: 1;
        font-size: 18px;
    }
}

.group-header {
    width: 100%;
    min-height: 40px;

    .group-title-wrapper {
        width: 40%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .group-title {
            padding: 10px 10px 10px 0px;
        }
    }


    .el-dropdown-link {
        cursor: pointer;
        color: #409EFF;
        font-size: 20px;
    }

    .el-dropdown-link:hover {
        filter: brightness(115%);
    }

    .el-icon-arrow-down {
        font-size: 12px;
    }
}

.group-footer {
    height: 116px;
    width: 100%;

    .add-task-wrapper {

        // @include task-cells;
        // display: flex;
        .add-task-form {
            height: 100%;
        }


        .add-task-form button {
            width: 75px;
            border: none;
            display: none;
        }
        .add-task-input {
            width: 100%;
            outline: none;
            border: 1px solid gainsboro;
            padding: 10px;
        }

        .add-task-input:hover .add-task-form button {
            display: block;
            background-color: $color-basic_blue;
        }

        .add-task-form button:hover {
            cursor: pointer;
            filter: brightness(90%);

        }

    }


    .add-task-wrapper:hover {
        filter: brightness(98%);
        cursor: pointer;
        border: 1px solid black;
    }
}

.el-popper .popper__arrow,
.el-popper .popper__arrow::after {
    border-style: none !important;
}

.drop-down {
    position: relative;

    .el-dropdown-link {
        position: absolute;
        left: -31px;
        bottom: 8px;
    }
}

.el-dropdown-menu {
    left: 102px !important;
}