.group-container {
    .group-title {
        font-size: 18px;
    }
}

.group-header {
    .el-dropdown-link {
        cursor: pointer;
        color: #409EFF;
      }
      .el-icon-arrow-down {
        font-size: 12px;
      }
}

.el-popper .popper__arrow, .el-popper .popper__arrow::after {
    border-style: none !important;
}

.drop-down {
    position: relative;
    .el-dropdown-link {
        position: absolute;
        left: -20px;
    }
}

.el-dropdown-menu {
    left: 120px !important
}