.home {
    .home-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links {
        // text-align: center;
        padding: 10px;
    }
    .nav-links>* {
        // text-align: center;
        padding-inline-end: 10px;
    }
    .info-container {
        padding: 5% 10%;
    }
    .get-started {
        margin: 20px 0;
        font-size: large;
        width: 50%;
        align-self: center;
    }
    a {
        text-decoration: none;
    }
}