.kanban {
    margin-top: 10px;

    span {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;

        .kanban-item {
            width: 250px;
            height: 200px;
            overflow: auto;
            border-radius: 5px;
            cursor: -webkit-grab;

            h3 {
                text-align: center;
                padding: 5px;
                text-transform: capitalize;
                color: white;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                    background-color: white;
                    border-radius: 5px;
                    margin: 5px 10px;
                    padding: 3px 6px;
                }
            }
        }
    }
}

/* width */
.kanban-item::-webkit-scrollbar {
    width: 9px;
}

/* Track */
.kanban-item::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.kanban-item::-webkit-scrollbar-thumb {
    background: inherit;
    border-radius: 10px;
}

/* Handle on hover */
.kanban-item::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}