.tag-group {
    // width: 266px;
    // height: 315px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgba(117, 117, 117, 0.411);
    position: absolute;
    transform: translateX(-25%);
    // padding: 0;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px #0000000f;
    // z-index: 500;
    >*:hover {
        opacity: 1;
    }
    .statuses {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    div {
        padding: 10px;
    }
    .el-tag {
        margin: 5px;
        width: 112px;
        height: 32px;
        transition: all.5s;
    }
    .el-tag:hover {
        opacity: .5;
    }
}