
.task-wrapper {
    display: flex;
    justify-content: space-between;
    top: 196px;
    height: 36px;
    background-color: #f5f6f8;
    align-items: center;
    border-bottom: 1px solid;
    border-bottom-color: #ffffff;
    >*{
        cursor: pointer;
        width: 140px;
        text-align: center;
        margin: 0 3px;
        transition: all .3s;
    }
    >*:hover{
        opacity: .8;
    }
    .task-title{
        cursor: pointer;
        padding: 10px;
        text-align: start;
        flex: 1;
        font-size: 13px;
    }
    .task-status{
        transition: all .3s;
    }
    .member-container{
        width: 140px;
    }
    .status-container:hover{
        opacity: 1;
        .task-status:hover{
            opacity: .8;
        }
        .tag-group:hover{
            opacity: 1;
        }
    }
}
