.task-wrapper {
    display: flex;
    align-items: flex-start;
    position: relative;
    height: 36px;
    align-items: center;
    margin-block-end: 1px;
    border-bottom: 1px solid #ffffff;
    font-size: 13px;
    .task-title {
        flex: 1;
        @include task-cells;
        cursor: pointer;
        text-align: start;
        font-size: 13px;
        width: 40%;
        .task-title-label {
            padding: 10px;
        }
    }
    .task-members-container {
        @include task-cells;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
    }
    .avatar-container {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .avatar,
    .avatar i {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #d6d9df
    }
    .status-container {
        @include task-cells;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        h3 {
            font-size: 13px;
        }
    }
    .date-container {
        @include task-cells;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
    }
    .remove-btn-wrapper {
        left: -50px;
        width: 50px;
        height: 20px;
        align-items: flex-start;
        font-size: 13px;
        background-color: transparent;
        position: absolute;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .remove-btn {
        display: none;
        filter: brightness(250%);
    }
    .remove-btn:hover {
        cursor: pointer;
        filter: brightness(100%);
    }
    .task-color-box-start {
        @include task-cells;
        min-width: 8px;
        border-left: 8px solid $application-border-color;
    }
    .task-color-box-end {
        @include task-cells;
        min-width: 38px;
        border-right: 8px solid $application-border-color;
    }
}

.task-wrapper:hover {
    filter: brightness(98%);
    cursor: pointer;
}

.task-wrapper:hover .remove-btn-wrapper {
    display: flex;
}

.task-wrapper:hover .remove-btn {
    display: flex;
}

.task-status {
    transition: all .3s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.status-container:hover {
    opacity: 1;
    .task-status:hover {
        opacity: .8;
    }
    .tag-group:hover {
        opacity: 1;
    }
}

.el-input--prefix .el-input__inner {
    border: none;
    background-color: inherit;
}

.el-input--prefix .el-input__inner:hover {
    cursor: pointer;
}