
.task-wrapper {
    display: flex;
    justify-content: space-between;
    top: 196px;
    height: 36px;
    background-color: #f5f6f8;
    align-items: center;
    border-bottom: 1px solid;
    border-bottom-color: #ffffff;
    >*{
        width: 120px;
        text-align: center;
        margin: 0 3px;
    }
    span{
        width: 120px;
    }
    :first-child{
        text-align: start;
        flex: 1;
    }
    div .task-title {
        font-size: 13px;
    }
}
