.el-drawer__open .el-drawer.rtl {
    width: 50% !important;
}


.el-drawer__header>:first-child {
    order: 1;
}

.el-drawer__body {
    padding: 20px;
}

.task-details {}




.activity-menu {
    height: 40px;
    border-bottom: 1px solid #efefef;

    .activity-btn-wrapper,
    .updates-btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 8px;
    }

    .activity-btn-wrapper:hover {
        box-shadow: 2px -22px 0px -20px #0085ff inset;
    }

    .updates-btn-wrapper:hover {
        box-shadow: 2px -22px 0px -20px #0085ff inset;
    }

    .activity-btn-wrapper button {
        background-color: transparent;
    }

    .updates-btn-wrapper button {
        background-color: transparent;
    }

}


.updates {
    height: 93%;
    padding-top: 30px;
    overflow: scroll;

    .updates-container,
    .text-editor {
        padding-inline-end: 20px;

        .add-comment-btn {
            width: 32px;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
            margin: 5px 5px 3px 0px;
        }
    }

    .update-txt-wrapper {
        padding: 16px;
    }

    .update-preview {
        padding: 15px;
        padding: 15px;
        border-radius: 10px;
        border: 0.5px solid #c5c7d0;
        ;
        margin: 10px 5px;
    }
}

.el-drawer.rtl {
    height: 100vh;
}

.el-drawer__body {
    height: 95vh;
}

.el-drawer-title {
    height: 5vh;
}

.el-drawer__close-btn:hover {
    background-color: #c5c7d0;
    border-radius: 4px;
    color: #323338;
}

.ql-toolbar.ql-snow {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ql-container.ql-snow {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.el-drawer__header {
    padding: 0 !important;
    text-align: left;
    margin: 20px 20px 6px 24px !important;

}