.header-view-bar {
    // margin: 20px 0px 10px 20px;
    margin-left: 20px;
    border-bottom: 2px solid #e6e9ef;



    >* {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .views-drop-down {
        color: unset;
        margin-top: 7px;
        cursor: pointer;
    }
    .new-group-wrapper {
        padding: 7px 20px 7px 0px;
    }
    .main-table-wrapper,
    .add-view-wrapper {
        padding: 7px 20px;
        border-bottom: 2px inset transparent;
    }
    .main-table-wrapper.active {
        // border-bottom-color: rgb(0, 133, 255);
        box-shadow: 2px -22px 0px -20px #0085ff inset;
    }
    .add-view-wrapper.active {
        // border-bottom-color: rgb(0, 133, 255);
        box-shadow: 2px -22px 0px -20px #0085ff inset;
    }
    .main-table-wrapper button,
    .add-view-wrapper button {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 14px;
        height: 32px;
        padding: 7px 20px;
    }
    .main-table-wrapper button:hover {
        background-color: #e6e9ef;
        cursor: pointer;
        border-radius: 4px;
    }
    .add-view-wrapper button:hover {
        background-color: #e6e9ef;
        cursor: pointer;
        border-radius: 4px;
    }
    // .main-table-wrapper:hover {
    //     // border-bottom-color: rgb(0, 133, 255);
    // }
    // .add-view-wrapper:hover {
    //     // border-bottom-color: rgb(0, 133, 255);
    // }
}

.top-header {
    margin-inline-start: 20px;
}


.el-button {
    height: 32px;
    line-height: 0 !important;
}

.board-actions {
    display: flex;
    >* {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 14px;
        height: 32px;
        padding: 7px 20px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-icon {
        padding-right: 5px;
    }
    .plus {
        font-size: 16px;
    }
    >*:hover {
        background-color: #e6e9ef;
        cursor: pointer;
    }
}