.workspace {
    position: relative;
    transition: width 0.3s;
    width: 30px;

    .menu-list {
        padding: 15px;
    }

    .menu-toggle-btn {
        transition: width 0.1s;
        border-radius: 40px;
        z-index: 4;
        position: absolute;
        right: -16px;
        top: 16px;
        height: 25px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $application-border-color;
        background-color: white;
    }

    .menu-toggle-btn:hover {
        width: 36px;
        cursor: pointer;
        background-color: #409EFF !important;
    }

    .toggle-workspace-icon>path:hover {
        filter: none;
    }

    .arrow-btn {
        font-size: 14px;
        color: $application-border-color;
        backface-visibility: hidden;
    }

    .arrow-btn:hover {
        color: white;
        cursor: pointer;
    }

    .menu-toggle-btn:hover .arrow-btn {
        color: white;
    }

    .workspace-board-list {
        padding-left: 0px;
        padding-top: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        list-style: none;
        border-top: 1px solid $application-border-color;

        .board-li-workspace h3 {
            padding-left: 10px;
            font-size: 14px;
        }

        >* {
            height: 34px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 4px;
            padding: 0 6px;
            font-size: 14px;
        }

        >*:hover {
            background-color: #e6e9ef;
            cursor: pointer;
        }
    }

    .board-menu-actions {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        align-items: flex-start;

        >* {
            height: 34px;
            display: flex;
            align-items: center;
            border-radius: 4px;
            padding: 0 6px;
            font-weight: 400;
        }

        .action:hover {
            background-color: #e6e9ef;
            cursor: pointer;
        }

        .title {
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h3 {
            padding-left: 10px;
            font-size: 14px;
        }
    }
}


.workspace.open {
    width: 255px;
}